
:root {
  --color1: #0087E1;
  --color2: #E05D00;
  --color3: #E09F00;
  --color4: #304E61;
  --color5: #615330;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: var(--color1);
  color: #ffffff;
  
}

nav ul {
  margin: 0 auto;
  width: 50%;

  display: flex;
  padding: 1em;
  justify-content: space-between;
  list-style: none;
}

nav li {
  margin: 1em;

}

nav a {
  color: #ffffff;
  text-decoration: none;
}
nav a:hover{
  color: var(--color2);
}